.app-bar {
    background-color: rgb(247, 247, 246);
    box-shadow: 1 1 1 1 rgba(0, 0, 0, 0.1);
}

.app-heading {
    font-size: 1.5rem;
    font-weight: 500;
    color: rgb(0, 0, 0);
}

.add-task-button {
    background-color: #8860d0;
    color: white;
}

.add-task-button:hover {
    background-color: #482f7b;
}

.button-submit {
    background-color: #8860d0;
    color: white;
}

.button-submit:hover {
    background-color: #482f7b;
}