.app-bar {
    background-color: #f7f7f6;
    box-shadow: 1 1 1 1 rgba(0, 0, 0, 0.1);
}

.app-heading {
    font-size: 1.5rem;
    font-weight: 500;
    color: rgb(0, 0, 0);
}

.add-task-button {
    background-color: #8860d0;
    color: white;
}

.add-task-button:hover {
    background-color: #482f7b;
}

.button-submit {
    background-color: #8860d0;
    color: white;
}

.button-submit:hover {
    background-color: #482f7b;
}

.img-button input[type="file" i]::-webkit-file-upload-button{
    margin-top: 15px;
    background-color: #474649;
    border: #a7d0e4;
    height: 30px;
    font-size: 16px;
    color: white;
    border-radius: 5%;
}

.search-bar {
    background-color: #c0b8d0;
    color: white;
    
    width: 12em; 
    font-size: 16px; 
}   

.search-bar:hover {
    background-color: #474649;
    color: white;
    
    width: 20em; 
    font-size: 16px; 
}